{% extends 'base.html' %}
{% block content %}
{% include 'category.html' %}
<div class="col-sm-12 col-md-9 col-lg-10 p-2">
    <div class="container my-3">
        <form method="post" class="post-form">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="form-group">
                <label for="content">답변내용</label>
                <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
</div>
{% endblock %}
class : 종류, 클래스, 학습 시간, 수업, 분류하다