{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <hr>
        <div class="text-muted my-3">
            <small>구글 또는 페이스북 계정으로 로그인</small>
        </div>
        <a href="/accounts/google/login/?method=oauth2">
            <img src="/static/images/google.png" title="구글 로그인">
        </a>
        <a href="/accounts/facebook/login/" class="ml-1">
            <img src="/static/images/facebook.png" title="페이스북 로그인">
        </a>
    </form>
</div>
{% endblock %}