<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Pybo</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('api_request._list') }}">
                    <i class="bi bi-person-plus-fill"></i> API 목록
                </a>
            </li>
            {% if g.user %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.settings') }}">
                       <i class="bi bi-gear-fill"></i> 계정설정</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.profile') }}">
                        <i class="bi bi-person-fill"></i> {{ g.user.username }}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">
                        <i class="bi bi-box-arrow-right"></i> 로그아웃</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">
                        <i class="bi bi-person-plus-fill"></i> 계정생성
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">
                        <i class="bi bi-box-arrow-in-right"></i> 로그인
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>